{% extends 'base/base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3 py-5 d-none d-lg-block d-md-none d-sm-none">
                <h4>
                    <ul class="list-group">
                        <li class="list-group-item"><h3>Anasayfa</h3></li>
                        <li class="list-group-item">Keşfet</li>
                        <li class="list-group-item">bildirimler</li>
                        <li class="list-group-item">Mesajlar</li>
                        <li class="list-group-item">Yer İşaretleri</li>
                        <li class="list-group-item">Listeler</li>
                        <li class="list-group-item">Profil</li>
                        <li class="list-group-item">Daha fazla</li>
                        <li class="list-group-item"><a href="{% url 'logout' %}" class="btn btn-primary">Logout</a></li>
                      </ul>
                </h4>
            </div>
            <div class="col-3 float-sm-left d-none py-5 d-block d-lg-none d-md-block d-sm-block">
                <h4>
                    <ul class="list-group">
                        <li class="list-group-item"><h3>A</h3></li>
                        <li class="list-group-item">K</li>
                        <li class="list-group-item">B</li>
                        <li class="list-group-item">M</li>
                        <li class="list-group-item">Y</li>
                        <li class="list-group-item">L</li>
                        <li class="list-group-item">P</li>
                        <li class="list-group-item">DF</li>
                        <li class="list-group-item"><button type="button" class="btn btn-primary">Tw</button></li>
                      </ul>
                </h4>
            </div>

            <div class="col-9 col-md-9 col-lg-6 col-sm-9 d-md-block d-sm-block py-5">
                <h3>piKapiKa</h3>

                <form method="POST" action="/tweet/tweet-post/">
                        {% csrf_token %}
                        <textarea name="tweet" cols="30" rows="2"></textarea>
                        <button type="submit" class="btn btn-primary">
                                Gonder
                        </button>

                </form>
                    <div class="list-group">
                    
        {% for item in tweets %}
                {% include 'tweet_post_show.html' %} 
        {% endfor %}
           
        </div>
            </div>


            <div class="col-md-3 col-lg-3 py-5 d-none d-lg-block d-md-none d-sm-none">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                    </div>
                  </div>
                  <ul class="list-group">
                      <h3>Türkiye Gündemleri</h3>
                    <li class="list-group-item">#tt1</li>
                    <li class="list-group-item">#tt2</li>
                    <li class="list-group-item">#tt3</li>
                    <li class="list-group-item">#tt4</li>
                    <li class="list-group-item">#tt5</li>
                    <li class="list-group-item"><button type="button" class="btn btn-primary">Daha fazla göster</button></li>
                  </ul>
                  <div class="my-3 p-3 bg-white rounded shadow-sm">
                        <h6 class="border-bottom border-gray pb-2 mb-0">Suggestions</h6>
                        <div class="media text-muted pt-3">
                          <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                              <strong class="text-gray-dark">Full Name</strong>
                              <a href="#">Follow</a>
                            </div>
                            <span class="d-block">@username</span>
                          </div>
                        </div>
                        <div class="media text-muted pt-3">
                          <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                              <strong class="text-gray-dark">Full Name</strong>
                              <a href="#">Follow</a>
                            </div>
                            <span class="d-block">@username</span>
                          </div>
                        </div>
                        <div class="media text-muted pt-3">
                          <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                              <strong class="text-gray-dark">Full Name</strong>
                              <a href="#">Follow</a>
                            </div>
                            <span class="d-block">@username</span>
                          </div>
                        </div>
                        <small class="d-block text-right mt-3">
                          <a href="#">All suggestions</a>
                        </small>
                      </div>
            </div>
        </div>
    </div>

    {% endblock %}