{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 ">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputTitle">Title</label>
                        <input name="title" type="text" class="form-control" id="exampleInputTitle" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Example file input</label>
                        <input name="cover_image" type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}