{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 ">
            <h2>{{ title }}</h2>
            
            <a href="{% url 'carousel_list' %}" class="btn btn-info">
                Carousel List
            </a>

            <hr>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <hr>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}