<div class="bg-dark py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="text-light">Urun Ozellikleri</h3>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="">T-Shirt</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">Bere</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">Canta</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="ebulten" class="sr-only">E-Bulten</label>
                        <input type="email" class="form-control" id="ebulten" placeholder="mail adresin">
                    </div>
                    <button type="submit" class="btn btn-dark mb-2">Kaydol</button>
                    </form>

            </div>
        </div>

        <div class="row border-top mb-3"></div>
        <div class="row">
            <div class="col-sm-2">
                <h5 class="text-light">Erkek</h5>
                <ul class="list-unstyled">
                    <li><a href="">Lorem, ipsum dolor.</a></li>
                    <li><a href="">Sunt, dolore harum!</a></li>
                    <li><a href="">Quasi, error perferendis?</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-light">Kadin</h5>
                <ul class="list-unstyled">
                    <li><a href="">Facere, saepe tempora!</a></li>
                    <li><a href="">Labore, maiores quia!</a></li>
                    <li><a href="">Nemo, officiis voluptate.</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-light">Her Zaman</h5>
                <ul class="list-unstyled">
                    <li><a href="">Quasi, ipsam possimus?</a></li>
                    <li><a href="">Aliquam, perspiciatis autem.</a></li>
                    <li><a href="">Voluptatum, quasi sit!</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-light">Bilgi</h5>
                <ul class="list-unstyled">
                    <li><a href="">Voluptates, animi ad!</a></li>
                    <li><a href="">Placeat, nulla at.</a></li>
                    <li><a href="">Eos, obcaecati. Excepturi.</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-light">Yardim</h5>
                <ul class="list-unstyled">
                    <li><a href="">Consequatur, eius pariatur.</a></li>
                    <li><a href="">Quaerat, reprehenderit quam.</a></li>
                    <li><a href="">Harum, maxime eum.</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-light">Sosyal Medya</h5>
                <ul class="list-unstyled text-white">
                    <li><a href="" >Maxime, ullam iusto.</a></li>
                    <li><a href="" >Voluptatum, vel voluptas.</a></li>
                    <li><a href="" >Non, nemo omnis.</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>