<div class="bg-dark">
    <div class="container">
<nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#">kaftClone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Bak <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="" aria-expanded="">
                    Erkek
                </a>
                <div class="dropdown-menu " x-placement="bottom-start" >
                    <a class="dropdown-item" href="#">T-Shirt</a>
                    <a class="dropdown-item" href="#">Çanta</a>
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="" aria-expanded="">
                    Kadın
                </a>
                <div class="dropdown-menu " x-placement="bottom-start" >
                    <a class="dropdown-item" href="#">T-Shirt</a>
                    <a class="dropdown-item" href="#">Çanta</a>
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="" aria-expanded="">
                    Her Zaman
                </a>
                <div class="dropdown-menu " x-placement="bottom-start" >
                    <a class="dropdown-item" href="#">T-Shirt</a>
                    <a class="dropdown-item" href="#">Çanta</a>
                    
                </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder='Senin İçin'>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Bul</button>
          </form>
        </div>
      </nav>

    </div>
</div>