{% extends 'base/base.html' %}

{% block title %}{{ title }}{% endblock %}


{% block container %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ title }}</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem natus quam architecto blanditiis distinctio deleniti necessitatibus expedita ipsum qui, excepturi, perferendis veniam. Voluptate deserunt nihil suscipit, voluptates officiis perferendis necessitatibus.
            </p>
        </div>
    </div>
</div>
{% endblock %}