<div class="bg-dark py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="text-light">Urun Ozellikleri</h3>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="">T-Shirt</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">Bere</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">Canta</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="ebulten" class="sr-only">E-Bulten</label>
                        <input type="email" class="form-control" id="ebulten" placeholder="mail adresin">
                    </div>
                    <button type="submit" class="btn btn-dark mb-2">Kaydol</button>
                    </form>

            </div>
        </div>

        <div class="row border-top mb-3"></div>
        <div class="row">
            <div class="col-sm-2">
                <h5 class="text-light">Erkek</h5>
                <ul class="list-unstyled">
                    {% for item in categories %}
                        {% if item.gender == "men" or item.gender == "unisex"  %}
                        <li>
                        <a class="" href="{% url 'category_show' category_slug=item.slug %}">
                          {{ item.title }}
                        </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-light">Kadin</h5>
                <ul class="list-unstyled">
                        {% for item in categories %}
                        {% if item.gender == "women" or item.gender == "unisex"  %}
                        <li>
                        <a class="" href="{% url 'category_show' category_slug=item.slug %}">
                          {{ item.title }}
                        </a>
                    </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-light">Her Zaman</h5>
                <ul class="list-unstyled">
                    {% for item in categories %}
                        {% if item.gender == "unisex"  %}
                        <li class="list-item">
                        <a class="" href="{% url 'category_show' category_slug=item.slug %}">
                          {{ item.title }}
                        </a>
                    </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-light">Bilgi</h5>
                <ul class="list-unstyled">
                    {% for item in pages %}
                    <li>
                        <a href="{% url 'page_show' slug=item.slug %}">
                        {{ item.title }}    
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-light">Yardim</h5>
                <ul class="list-unstyled">
                    <li><a href="">Consequatur, eius pariatur.</a></li>
                    <li><a href="">Quaerat, reprehenderit quam.</a></li>
                    <li><a href="">Harum, maxime eum.</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-light">Sosyal Medya</h5>
                <ul class="list-unstyled text-white">
                    <li><a href="" >Maxime, ullam iusto.</a></li>
                    <li><a href="" >Voluptatum, vel voluptas.</a></li>
                    <li><a href="" >Non, nemo omnis.</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>