{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 ">
            <h2>{{ category.title }}</h2>
            <div class="row">
                {% for item in items %}
                    {% if item.cover_image %}
                    <div class="col-sm-4">
                        {% include 'product/product.html' %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
